<div class="mt-5 border border-black container w-50  justify-content-center ">
    <div class="text-center">Booking Details</div>
    <div class="row"> <div class="col">Passenger Name: </div> <div class="col">{{uname}}</div> </div>
    
    <div class="row"> <div class="col">Email Id: </div> <div class="col">{{email}}</div> </div>
    
    <div class="row"> <div class="col">Room Type: </div> <div class="col">{{pdata.rtype}}</div> </div>
    
    <div class="row"> <div class="col">Payment Done: </div> <div class="col">{{pdata.price}}Rs</div> </div>
    <a href="page/home" class="btn btn-outline-success d-flex justify-content-center m-5">Back to Home </a>
   
</div>
