<div class="border border-primary p-1 mt-2 mb-2 w-50 container ">
  <h2 class="text-center mb-5">Add Product</h2>
  <form [formGroup]="addForm" (ngSubmit)="add()" class="text-center" id="d" action="">
    <div class="mb-3 row">
      <label for="nu" class="col-3 col-form-label">Room Type:</label>
      <div class="col-6">
        <input formControlName="rtype" type="text" class="form-control" id="nu" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="na" class="col-3 col-form-label">Duration:</label>
      <div class="col-6">
        <input formControlName="duration" type="text" class="form-control" id="na" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="ca" class="col-3 col-form-label">Description:</label>
      <div class="col-6">
        <input formControlName="description" type="text" class="form-control" id="ca" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="de" class="col-3 col-form-label">Room Size:</label>
      <div class="col-6">
        <input formControlName="rsize" type="number" class="form-control" id="de" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="pr" class="col-3 col-form-label">Price:</label>
      <div class="col-6">
        <input formControlName="price" type="number" class="form-control" id="pr" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="im" class="col-3 col-form-label">Age Policy:</label>
      <div class="col-6">
        <input formControlName="apolicy" type="text" class="form-control" id="im" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="ra" class="col-3 col-form-label">Image:</label>
      <div class="col-6">
        <input formControlName="image" type="text" class="form-control" id="ra" />
      </div>
    </div>
    <div>
      <button class="justify-content-center btn btn-dark" type="submit">Add</button>
    </div>

  </form>
</div>