<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"  src="{{pdata.image}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">Room Size: {{pdata.rsize}}m²</div>
                <h1 class="display-5 fw-bolder">{{pdata.rtype}}</h1>
                <div class="fs-5 mb-5">
                    <!-- <span class="text-decoration-line-through">$45.00</span> -->
                    <span>INR {{pdata.price}}/Adult</span><br>
                    <p>Duration: {{pdata.duration}}</p>
                </div>
                <h5>Age Policy</h5>
                <p class="lead">{{pdata.apolicy}}</p>
                <div class="d-flex justify-content-between">
                    <!-- <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> -->
                    <a routerLink="/page/adbook/{{pdata.rtype}}"  class="btn btn-outline-primary flex-shrink-0" type="button">
                        <!-- <i class="bi-cart-fill me-1"></i> -->
                        BOOK
                    </a>
                    <a routerLink="/page/edit/{{pdata.rtype}}" class="btn btn-outline-primary flex-shrink-0" type="button">EDIT</a>
                  <!-- <a href="page/home">  <button (click)="deleteroom(pdata.rtype)" class="btn btn-outline-dark flex-shrink-0" type="submit">DELETE</button></a> -->
                  <button (click)="deleteroom()" class="btn btn-outline-primary flex-shrink-0" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- https://i.postimg.cc/MKNKKZTp/room-1.gif -->